langchain==0.2.11
streamlit
langchain-core==0.2.43
langchain-community==0.2.10
langchain-text-splitters==0.2.2
langchain-openai==0.1.17
langchain-groq
python-dotenv
faiss-cpu
openai
arxiv
wikipedia
duckduckgo-search
pypdf
pymupdf
bs4
unstructured